$containerWidth: 80%;
.container {
    width: $containerWidth;
    display: block;
    margin: 0 auto;
    position: relative;
}

.m-auto {
    margin: 0 auto !important;
}

.p-11 {
    padding: 11px !important;
}