$containerWidth: 80%;
.container {
    width: $containerWidth;
    display: block;
    margin: 0 auto;
    position: relative;
}

.m-auto {
    margin: 0 auto !important;
}

.p-11 {
    padding: 11px !important;
}
.absoluteWrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
}
.times {
    position: absolute;
    right: 2px;
    transition: 0.7s;
    color: #999f97;
    cursor: pointer;
    &:hover {
        color: $red;
        transition: 0.7s;
    }
}
