<!DOCTYPE html>
<html>

<head>
    <meta name="description" content="Landing Page">
    <meta charset="UTF-8">
    <meta name="author" content="Gustav Karlström">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LandingPage</title>
    <link rel="stylesheet" href="css/landingPage.css">
    <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="js/frontend.js"></script>
</head>

<body>
    <span class="topLeftInfo">Alt + click to delete...</span>
    <div class="search">
        <form method="get" action="https://duckduckgo.com/">
            <input type="text" placeholder="Search" size="40" name="q">
        </form>
    </div>
    <main class="container">

        <div id="grid" class="grid">
            <% for (let i=0; i < data.length; i++){ %>
                <a href="http://<%= data[i].bookmarkInput %>" class="m-auto">
                    <div>
                        <img identifier="<%= data[i].id %>" src="<%= data[i].bookmarkImg %>" class="gridItem">
                        <span><%= 'www.' + data[i].bookmarkInput %></span>
                    </div>

                </a>
                <% } %>
                    <div id="addItem" class="gridItem"><i class="fa fa-plus"></i></div>
        </div>
    </main>
    <!-- The Modal -->
    <div id="bookmarkModal" class="modal">
        <!-- Modal content -->
        <div id="bookmarkModalContent" class="modalContent">
            <form id="search">
                <input type="text" name="bookmarkUrl" placeholder="Add new item..." required />
                <button class="addBtn" type="submit">Add item</button>
            </form>
        </div>
    </div>
    <div id="bookmarkModal2" class="modal">
        <!-- Modal content -->
        <div id="bookmarkModalContent2" class="modalContent">
            <button id="good" class="good">Delete..</button>
            <button id="bad" class="bad">Keep..</button>
        </div>
    </div>
</body>

</html>
